body {
    background: #fff;
    padding: 0px;
    margin: 0px;
}

.main-div, .loggedin-div {
    width: 20%;
    margin: 0px auto;
    margin-top: 150px;
    padding: 20px;
    display: none;
}

.main-div input {
    display: block;
    border: 1px solid #ccc;
    border-radius: #fff;
    padding: 15px;
    outline: none;
    width: 100%;
    margin-bottom: 20px;
    box-sizing: border-box;
-moz-box-sizing: border-box;
}

.main-div button, .loggedin-div button {
    background: #5d8ffc;
    color: #fff;
    border: 0px;
    border-radius: 5px;
    padding: 15px;
    width: 100%; 
    font-weight: 700;
    box-sizing: border-box;
-moz-box-sizing: border-box;
}

/* .main-div button:hover, .loggedin-div button:hover {
    background: #fff;
    color: #5d8ffc;
    border: 1px solid #5d8ffc;
    cursor: pointer;
} */